@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


* {
	margin: 0;
	font-family: 'Poppins';
}
.header {
	display: flex;
	flex-direction: row;
  	align-items: center;
  	margin: 0;
  	height: 75px;
}

.img-header{
	width: 40px;
  height: 40px;
  margin-left: 35px;
  margin-right: 10px;
}

.button-row{
	display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  margin-right: 20px;
  gap: 20px;
}

.expand {
	flex: 1;
}

h2 {
	font-size: 20px;	
	font-weight: 500;
}

.channel-row {
	display: flex;
    margin: 20px;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}